body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('logo.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

  }
  canvas {
    display: block;


  }
  button {
    top:80vh;
    background-color: black;
    color: white;
    border: gray 3px solid;
    border-radius: 20px;
    position: absolute;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    height: 10vh;   
    width: 20vw;
    opacity: 0.7;
  }
  #startButton {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #tiltModeButton {
    
    left:40vw;

  }
  #fingerModeButton {

    left:60vw;

  }
  #mouseModeButton {

    left: 80vw;


  }
  #highScore {
    display: flex;
    font: 32px Arial;

    top: 75vh;
    left: 70%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
  }
  